/* Ajout des polices */
@font-face {
    font-family: 'rubik-regular';
	src: url('fonts/Rubik-Regular.eot');
	src: local('☺'), url('fonts/Rubik-Regular.woff') format('woff'), url('fonts/Rubik-Regular.ttf') format('truetype'), url('fonts/Rubik-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'rubik-medium';
	src: url('fonts/Rubik-Medium.eot');
	src: local('☺'), url('fonts/Rubik-Medium.woff') format('woff'), url('fonts/Rubik-Medium.ttf') format('truetype'), url('fonts/Rubik-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Gestion-Taille des polices */
body {
    margin: 0;
    font-family: 'rubik-regular';
    font-size: 1.063rem;
    line-height: 2rem;
}

h1 {
    font-family: 'rubik-medium';
    font-size: 2.25rem;
    line-height: 2.7rem;
}

h2 {
    font-family: 'rubik-medium';
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.desc {
    font-size: 1rem;
    line-height: 1.875rem;
}

/* Gestion des couleurs */
h1, h2 {
    color: #2E2E2E;
}

p {
    color: #5E5E5E;
}

/* Class flex generale */
.d-flex {
    display: flex;
    justify-content: space-between;
}

.fd-column {
    flex-direction: column;
}

.container {
    max-width: 73.125rem;
}

/* Mise en forme texte general*/

#core {
    text-align: center;
    margin: 7.25rem auto;
}

h1 {
    margin-bottom: 1.438rem;
}

article {
    flex: 0 0 23.078%;
    height: 18.125rem;
}
.core-intro {
    margin: 0 auto 5.75rem;
    width: 46rem;
}

.article-icon {
    margin: 3.563rem auto 1.2rem;
}

h2 {
    margin: 0 auto 1.063rem;
}

.desc {
    margin: 0 2.063rem 3.125rem;
} 